@import "_nullstyle";
body{
	max-width: 1250px;
	background-color: aquamarine;
	margin: auto;
	font-family: 'Fuzzy Bubbles', cursive;
	font-size: 22px;
	display: flex;
	justify-content: center;
	flex-direction:column;
}
.contend {
	text-align: center;
}
.windows {
	display: flex;
	flex-direction:column;
	align-items:center;
	border: 10px solid rgba(133, 74, 74, 0.404);
	box-shadow: 0.4em 0.4em 5px rgba(77, 21, 21, 0.5);	
	border-radius: 22px ;
	justify-content: center;
	height: 250px;
	background: white;
	margin-bottom: 22px;
	overflow: auto;
	-ms-scroll-limit: horizontal;
}
.button {

	&__txt{
		margin: 100px 0 0 0;
		border-radius: 25px;
		padding: 20px 80px 20px 80px;
		background: rgb(24, 231, 162);
		box-shadow: 0.4em 0.4em 5px rgba(77, 21, 21, 0.5);	
		font-size: 22px;
	}
	&__txt:active{
		border-radius: 25px;
		padding: 20px 80px 20px 80px;
		box-shadow: none;	
	}
}
